.productImg{
    width: 12em;
    height: 12em;
}

.name{
    text-align: center;
    margin-bottom: 0;
}

.price{
    text-align: center;
    margin-bottom: 1.5em;
}

.btn{
    position: absolute;
    bottom: -1em;
    left: 4em;
    border: none;
    background: darkgreen;
    color: white;
    font-weight: 600;
    padding: 0.4em 1em;
}

.btn2{
    position: absolute;
    bottom: -1em;
    left: 2em;
    border: none;
    background: red;
    color: white;
    font-weight: 600;
    padding: 0.4em 1em;
}

.productContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    background: whitesmoke;
    position: relative;
}