.productImg {
    width: 12em;
    height: 12em;
}

.name {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 1em;
}

.price {
    text-align: center;
    margin-bottom: 1.5em;
    color: crimson;
}

.btn {
    position: absolute;
    bottom: -1em;
    left: 4em;
    border: none;
    background: darkgreen;
    color: white;
    font-weight: 600;
    padding: 0.4em 1em;
    cursor: pointer;
}

.btn2 {
    position: absolute;
    bottom: -1em;
    left: 2em;
    border: none;
    background: red;
    color: white;
    font-weight: 600;
    padding: 0.4em 1em;
    cursor: pointer;
}

.productContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background: whitesmoke;
    position: relative;
    box-shadow: 0px 1px grey;
}

.productContainer:hover {
    transition: transform .5s ease;
    transform: scale(1.07);
}